@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
  --primary-clr: #18130d;
  --bg-clr: #bebbb6;
  --white-bg: rgba(226, 215, 215, 0.9);
  --dark-text-clr: #363b46;
  --light-text-clr: #fff;
  --hover-clr: #f1e8fd;
}

* {
  margin: -1px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  background-color: rgb(169, 169, 31);
}
.ct{
  display: flex;
  height: 90vh; 


}
.container {
  height: 100vh;
  width: 85px;
  margin: 0%;
  padding: 10px;
  overflow: hidden;
  border-radius: 3px;
  background-color: rgb(238, 239, 190);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}
.container .social{
  margin-top: 50vh;
}
.social img{
  display: flex;
  align-items: center;
  margin:3px;
  
}
.container.active  {
  width: 250px;
}
.container .logo {
  width: 100%;
  margin-bottom: 30px;
}
.container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.link-item:last-child {
  margin-top: 50px;
}
.link-item a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 16px;
  white-space: nowrap;
  text-transform: capitalize;
  color: var(--dark-text-clr);
}
.link-item a span {
  transition: transform 0.5s;
  transform: translateX(100px);
}
.link-item:last-child span h4 {
  line-height: 1;
}
.link-item:last-child span p {
  font-size: 12px;
}
.container.active .link-item a span {
  transition-delay: calc(0.02s * var(--i));
  transform: translateX(0px);
}
.link-item a:hover {
  background-color: var(--hover-clr);
}
.link-item.active a {
  color: var(--light-text-clr);
  background-color: var(--primary-clr);
}
.link-item ion-icon {
  min-width: 20px;
  min-height: 20px;
  margin-right: 20px;
  position: relative;
}
.link-item img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  border-radius: 50%;
}
.link-item ion-icon.noti-icon::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  right: 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--primary-clr);
  border: 1px solid var(--white-bg);
}
.link-item a .num-noti {
  margin-left: 40px;
  font-size: 12px;
  color: var(--light-text-clr);
  background-color: var(--primary-clr);
  min-width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.link-item.active a .num-noti {
  color: var(--primary-clr);
  /*background-color: var(--white-bg);*/
  background-color: rgb(169, 169, 31);
}

.body{
  display: flex;
}
#bd{
  margin: 30px;
  color: #bcd81d;
  
}
#bd img{
  width:300px;
  height:400px;
}



.it{
  background-color: black;
  height: 90vh;
display: flex;
justify-content: center;
width: 100vw;
margin-top: 0px;

}
#item1{
  color: antiquewhite;
  background-color: rgb(169, 169, 31);
   
    width: 50%;
    line-height: 70px;
    margin-top: 0vh;
    margin-left: 0px;
    padding: 10px;
  }
  #item2{
 
    background-color: rgb(169, 169, 31);
    margin-top: 0vh;
    margin-left: 0px;
    width: 50%;
  
    margin-right: 1%;
  
  }
  
  #item2 img{
    max-width: 427px;
    height: 80vh;
 margin: 10px;;

    border-radius: 20px;
  
  }
  .w{
    color: aliceblue;
    font-size: 1.5rem;
  }
  .multiText{
    font-size: 3rem;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: bisque;
  }
  
.footer{

  padding: 2px;
  height: 8vh;
  background-color: rgb(169, 169, 31);

  color: rgb(248, 238, 238);
  font-size: 1rem;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}